@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../fonts/Gilroy-Semibold/Gilroy-Semibold.eot');
    src: url('../fonts/Gilroy-Semibold/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Semibold/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold/Gilroy-Semibold.ttf') format('truetype'),
    url('../fonts/Gilroy-Semibold/Gilroy-Semibold.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light/Gilroy-Light.ttf') format('truetype'),
    url('../fonts/Gilroy-Light/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;

}

//@font-face {
//    font-family: 'Poppins';
//    src: url('../fonts/Poppins-Light/Poppins-Light.eot');
//    src: url('../fonts/Poppins-Light/Poppins-Light.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/Poppins-Light/Poppins-Light.woff2') format('woff2'),
//    url('../fonts/Poppins-Light/Poppins-Light.woff') format('woff'),
//    url('../fonts/Poppins-Light/Poppins-Light.ttf') format('truetype'),
//    url('../fonts/Poppins-Light/Poppins-Light.svg#Poppins-Light') format('svg');
//    font-weight: 300;
//    font-style: normal;
//}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular/Poppins-Regular.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}




/*
@font-face {
    font-family: 'Lato Hairline';
    src: url('/assets/fonts/Lato-HairlineItalic.eot');
    src: url('/assets/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-HairlineItalic.woff2') format('woff2'),
    url('/assets/fonts/Lato-HairlineItalic.woff') format('woff'),
    url('/assets/fonts/Lato-HairlineItalic.ttf') format('truetype'),
    url('/assets/fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.eot');
    src: url('/assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBoldItalic.eot');
    src: url('/assets/fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-BoldItalic.eot');
    src: url('/assets/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Lato-BoldItalic.woff') format('woff'),
    url('/assets/fonts/Lato-BoldItalic.ttf') format('truetype'),
    url('/assets/fonts/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ExtraLight.eot');
    src: url('/assets/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-MediumItalic.eot');
    src: url('/assets/fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Medium.eot');
    src: url('/assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('/assets/fonts/Montserrat-Medium.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.eot');
    src: url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ExtraLightItalic.eot');
    src: url('/assets/fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.eot');
    src: url('/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Regular.woff2') format('woff2'),
    url('/assets/fonts/Lato-Regular.woff') format('woff'),
    url('/assets/fonts/Lato-Regular.ttf') format('truetype'),
    url('/assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('/assets/fonts/Lato-Hairline.eot');
    src: url('/assets/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Hairline.woff2') format('woff2'),
    url('/assets/fonts/Lato-Hairline.woff') format('woff'),
    url('/assets/fonts/Lato-Hairline.ttf') format('truetype'),
    url('/assets/fonts/Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Black.eot');
    src: url('/assets/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Black.woff') format('woff'),
    url('/assets/fonts/Montserrat-Black.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-BlackItalic.eot');
    src: url('/assets/fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-BlackItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Bold.eot');
    src: url('/assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Bold.woff2') format('woff2'),
    url('/assets/fonts/Lato-Bold.woff') format('woff'),
    url('/assets/fonts/Lato-Bold.ttf') format('truetype'),
    url('/assets/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-LightItalic.eot');
    src: url('/assets/fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-LightItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-LightItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Thin.eot');
    src: url('/assets/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Thin.woff') format('woff'),
    url('/assets/fonts/Montserrat-Thin.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-BlackItalic.eot');
    src: url('/assets/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-BlackItalic.woff2') format('woff2'),
    url('/assets/fonts/Lato-BlackItalic.woff') format('woff'),
    url('/assets/fonts/Lato-BlackItalic.ttf') format('truetype'),
    url('/assets/fonts/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ThinItalic.eot');
    src: url('/assets/fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-ThinItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Light.eot');
    src: url('/assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Light.woff2') format('woff2'),
    url('/assets/fonts/Lato-Light.woff') format('woff'),
    url('/assets/fonts/Lato-Light.ttf') format('truetype'),
    url('/assets/fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('/assets/fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ExtraBold.eot');
    src: url('/assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Light.eot');
    src: url('/assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Light.woff') format('woff'),
    url('/assets/fonts/Montserrat-Light.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-LightItalic.eot');
    src: url('/assets/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-LightItalic.woff2') format('woff2'),
    url('/assets/fonts/Lato-LightItalic.woff') format('woff'),
    url('/assets/fonts/Lato-LightItalic.ttf') format('truetype'),
    url('/assets/fonts/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-BoldItalic.eot');
    src: url('/assets/fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-BoldItalic.woff') format('woff'),
    url('/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Italic.eot');
    src: url('/assets/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Italic.woff2') format('woff2'),
    url('/assets/fonts/Lato-Italic.woff') format('woff'),
    url('/assets/fonts/Lato-Italic.ttf') format('truetype'),
    url('/assets/fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Bold.eot');
    src: url('/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('/assets/fonts/Montserrat-Bold.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Black.eot');
    src: url('/assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Black.woff2') format('woff2'),
    url('/assets/fonts/Lato-Black.woff') format('woff'),
    url('/assets/fonts/Lato-Black.ttf') format('truetype'),
    url('/assets/fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Italic.eot');
    src: url('/assets/fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Italic.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Italic.woff') format('woff'),
    url('/assets/fonts/Montserrat-Italic.ttf') format('truetype'),
    url('/assets/fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}*/
