/* glue: 0.13 hash: ec932a113a */
@sprite-height: 532px;
@sprite-width: 584px;


	@arrow-right: 'arrow-right';
	@arrow-right-fname: 'arrow-right.png';
	@arrow-right-x: -10px;
	@arrow-right-y: -10px;
	@arrow-right-2x: -20px;
	@arrow-right-2y: -20px;
	@arrow-right-width: 512px;
	@arrow-right-height: 512px;

	@internet: 'internet';
	@internet-fname: 'internet.png';
	@internet-x: -542px;
	@internet-y: -10px;
	@internet-2x: -1084px;
	@internet-2y: -20px;
	@internet-width: 32px;
	@internet-height: 32px;

	@down-arrow: 'down-arrow';
	@down-arrow-fname: 'down-arrow.png';
	@down-arrow-x: -542px;
	@down-arrow-y: -62px;
	@down-arrow-2x: -1084px;
	@down-arrow-2y: -124px;
	@down-arrow-width: 24px;
	@down-arrow-height: 24px;

	@wp: 'wp';
	@wp-fname: 'wp.png';
	@wp-x: -542px;
	@wp-y: -106px;
	@wp-2x: -1084px;
	@wp-2y: -212px;
	@wp-width: 19px;
	@wp-height: 19px;

	@facebook: 'facebook';
	@facebook-fname: 'facebook.png';
	@facebook-x: -542px;
	@facebook-y: -145px;
	@facebook-2x: -1084px;
	@facebook-2y: -290px;
	@facebook-width: 16px;
	@facebook-height: 16px;

	@arrow-down: 'arrow-down';
	@arrow-down-fname: 'arrow-down.png';
	@arrow-down-x: -542px;
	@arrow-down-y: -181px;
	@arrow-down-2x: -1084px;
	@arrow-down-2y: -362px;
	@arrow-down-width: 12px;
	@arrow-down-height: 7px;
