@color-black: #2C2C2C;
@color-gray-light: #AEAEAE;
@color-gray: #8B8B8B;
@color-blue: #3A73B7;
@color-blue-light: #5787C1;
@color-white: #FFFFFF;

@color-yellow:#F7C623;
@color-red: #C73333;
@color-green: #21B011;


@regular: 'Gilroy-Regular';
@semibold: 'Gilroy-Semibold';
@light: 'Gilroy-Light';

@color-green: #74b929  ;
@color-gray:#959595;
@color-gray-dark:#343434;
//@color-yellow:#f7d448;
@sfont :'Montserrat';
@pfont:'Lato';



.fonts-native(@size: 14px, @weight: normal,@font:@pfont){
	line-height: @size;
	font-family: @font, 'Arial';
	font-weight: @weight;
	font-size: @size;
}

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}
.clearfix{
	clear:both;
	float:none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
