.advert{
  width: 100%;
  margin-top: 30px;
  &__body{
      width: 100%;
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      padding: 20px;
    &-item{
      padding-bottom: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &:first-child{
        padding-top: 0;
      }

    }
  }
}
