.blok{
  margin-top: 30px;
  &__body{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  &-item{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:hover{
      background-color: #f9f9f9;
    }
    &:hover .actions-link{
      display: inline-block;
    }
    &:hover .blok__body-item-vote{
      background-color: white;
    }
    &-desc{
      width: 60%;

    }
    &-vote{
      width: 65px;
      height: 75px;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover{
        cursor: pointer;
        background-color: #f9f9f9!important;
      }
      //&:hover .blok__body-item{
      //  background-color: white!important;
      //}
    }
    &-location{
      //width: 65px;
      height: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      color: #6f6f6f;

    }
    h3{
      color: black;
    }
  }
  //&-item:last-child{
  //  border-bottom: none;
  //}
}
  &__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
