body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
label{
  margin: 0;
}
h3{
  font-size: 16px;
}
.search{
  width: 300px;
  height: 35px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding-left: 30px;
  outline: none;
  &::placeholder{
    color:#6F6F6F6F;
  }
  &__icon{
    position: absolute;
    left: 10px;
    top: 4px;
  }
}

.space-between{
  display: flex;
  justify-content: space-between;
}
.product-img{
  width: 80px;
  height: 80px;
}
.desc-text{
  color: #6f6f6f;
  font-size: 13px;
}
.a-none{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}
.c-black{
  color: black;
}
.small-logo{
  width: 35px;
  height: 35px;
}

.adv-title{
  font-size: 13px;
  font-weight: 500;
}
.little-box{
  font-size: 12px;
  color: #9E9E9E;
  padding: 5px 8px;
  border: 1px solid #9E9E9E;
  border-radius: 3px;
  display: inline-block;
  margin-top: 10px;
}
.ml30{
  margin-left: 30%;
}
.p-10{
  padding: 10px;
}
.website-title{
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.maker-box{
  width: 100%;
  font-size: 12px;
  color: #9E9E9E;
  padding: 5px 8px;
  border: 1px solid #9E9E9E;
  border-radius: 3px;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

//Slick Carousel

.slider{
  &__single{
    height: 285px;
    &-item{
      height:380px;
      width: 100%;
      img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
.slick-slide:focus{
  outline: none;

}
.slider-nav .slick-slide { cursor: pointer; outline: none}

.slick-slide.is-active div {
  background-color: #004BFE;
  color: red;
  outline: none;
  //transition: .3s;
}
.product__slider-nav .slick-track{
  width: 100%!important;
}
.slider__item{
  width: 50px;
  height: 50px;
  img{
    width: 100%;
    height: 100%;
  }
}

.text{
  font-size: 16px;
  color: white;
}
.c-white{
  color: white;
}
.small-gray-text{
  font-size: 13px;
  color: #6f6f6f;
}
.small-red-text{
  font-size: 13px;
  color: #cc4d29;
}
.upload{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  &__img{
    width: 80px;
    height: 80px;
    img{
      width: 100%;
      height: 100%;
    }
    &-link{
      font-size: 13px;
      color: #cc4d29;
      display: inline-block!important;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

}

.file-input{
  //padding: 10px 20px;
  //background-color: #163B47;
  border-radius: 5px;
  border: none;
  //color: white;
  font-size: 16px;
  font-weight: 600;
}

//.file-holder {
//  display: none;
//}
.name-holder{
  min-width: 200px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.uploaded-filename{
  padding: 10px 30px 10px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
}
.cancel{
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
}
.submit{
  padding: 10px 80px;
  border: none;
  border-radius: 5px;
  background-color: #1b8bb0;
  color: white;
  outline: none;
}
.amsify-select-tag{
  background-color: #bdbee5!important;
}

.view-btn{
  width: 100%;
  padding: 8px 0;
  color: #cc4d29;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  text-align: center;
  &:hover{
    background-color: #e8e8e8;
  }
}
.show-all{
  width: 100%;
  padding: 8px 0;
  color:  #696968;
  text-align: center;
  background-color: white;
  &:hover{
    color: #cc4d29;
  }
}
.share{
  font-size: 11px;
  color: #6f6f6f;
}
.btn-red{
  width: 100%;
  background-color: #cc4d29;
  border: 1px solid #b74424;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
  margin-top: 20px;
  transition: .5s;
  color: white;
  &:hover{
    color: white;
    background-color: #e4461b;
  }
}
.category{
  width: 100%;
  border:1px solid #9E9E9E;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  position: relative;
  cursor: pointer;
}
.bottom{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  &__text{
    font-size: 55px;
    font-family: cursive;
    font-style: oblique;
  }
}

.mini-bold-text{
  font-size: 11px;
  color: #6f6f6f;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.send{
  height: 35px;
  text-align: center;
  padding: 10px 5px;
  background-color: #cc4d29;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  text-decoration: none;
  &:hover{
    background-color: #e4461b;
    color: white;
  }
}
.add-btn{
  width: 43px;
  height: 43px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  outline: none;
}
.add_user_name{
  //width: calc(100% - 45px);
  width: ~"calc(100% - 50px)";
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  outline: none;
}
.removeMakers{
  color: #cc4d29;
  cursor: pointer;
  text-decoration: underline;
}
#img_preview{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#img_preview img{
  width: 200px;
  height: auto;
  margin: 10px 10px 10px 0;
  //padding: 10px;
  border: 1px solid #0B2443;
}

#img_preview video{
  width: 200px;
  height: auto;
  margin: 10px 10px 10px 0;
  padding: 10px;
  border: 1px solid #0B2443;
}
#img_preview p{
  display: inline-block;
}
.gallery_file {
  &_input {
    display: none!important;
  }

  &_select {
    padding: 10px 20px;
    border: 1px solid #0B2443;
    border-radius: 3px;
    color: #0B2443;
  }
}
.actions{
  width: 50px;
  font-size: 11px;
  padding:5px 8px;
  border-radius: 3px;
  background-color: #e8e8e8;
  margin-top: 20px;
  display: inline-block;
  color: #6f6f6f;
  &-link{
    width: 30px;
    font-size: 11px;
    padding:5px 8px;
    border-radius: 3px;
    background-color: #e8e8e8;
    margin: 20px 10px 0 10px;
    display: none;
  }
  &-hashtag{
    font-size: 11px;
    //padding:5px 8px;
    margin-top: 20px;
    display: inline-block;
    color: #6f6f6f;
  }
}
