.discussion {
  &__row {
  display: flex;flex-direction: row;justify-content: space-between;align-items: center; margin-bottom: 20px;
  }

  &__star {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #36930d;
    color: #36930d;
    font-size: 13px;
  }

  &__yesbtn {
    padding: 10px 10px;
    color: #36930d;
    border: 1px solid #36930d;
    border-radius: 3px;
    transition: .5s;
    margin-right: 10px;
    font-size: 11px;
    &:hover{
      background-color: #e8e8e8;
      border: 1px solid #e8e8e8;
      cursor: pointer;
    }
  }


  &__nobtn {
    padding: 10px 10px;
    color: #d74343;
    border: 1px solid #d74343;
    border-radius: 3px;
    transition: .5s;
    font-size: 11px;
    &:hover{
      background-color: #e8e8e8;
      border-color: #e8e8e8;
      cursor: pointer;
    }
  }
  &__comment{
    width: 450px;
    height: 35px;
    padding: 5px 10px;
    resize: none;
    outline: none;
    overflow: hidden;
    &-acts{
      font-size: 11px;
      color: #6f6f6f;
      margin-right: 20px;
      cursor:pointer;
    }
  }
  &__comment::placeholder {
    font-size: 11px;
  }
  &__reviews{
    border-top: 1px solid #e8e8e8;
    &-body{
      width: 450px;
      padding-left: 10px ;
      font-size: 13px;
    }
    &-owner{
      font-size: 13px;
      font-weight: 600;
      &-status{
        padding: 3px 10px;
        background-color: rgba(0,179,126,.1);
        color: #056d4e;
        border-radius: 3px;
        margin-left: 10px;
      }
    }
  }
  &__replies{
    margin-left: 40px;
  }
}

.none {
  display: none;
}

.file-input {
  width: 100px;
}
