.filter__section {
  width: 100%;
  background-color: white;
  padding: 10px 15px;
  select{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    outline: none;
    color: #A0A0A0;
  }
  option{
    width: 100%;
    padding: 10px;
    background-color: white;
    height: 50px;
  }
  label{
    color: #191313;
    font-size: 14px;
  }
}


