.footer{
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
  &__text{
    color: #6f6f6f;
    font-size: 14px;
    a{
      color: #A0A0A0;
    }
  }
  &__copyright{
    font-size: 12px;
    color: #6f6f6f;
  }

}
