.navbar {
  width: 100%;
  padding: 15px 0;
  background-color: #fff;

  &__item {
    color: #6F6F6F6F;
    margin-left: 15px;
    font-size: 16px;

    &:hover {
      color: #3d3d3d;
      text-decoration: none;
    }
  }

  &__account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &-item {
      font-size: 14px;
      font-weight: 400;
      padding: 10px 15px;
      border-radius: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
