
/*-----------overlay*/

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh!important;
  width: 100%;
  z-index: -1;
  display: none;
  overflow: hidden;
}

.login_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  display: none;

}
.noscroll{
  overflow: hidden;
}
.product_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
  &.show{
    z-index: 9999;
    opacity: 1;
    pointer-events: unset;
  }
}

/*-----------btn*/

.btn-login {
  transition: 0.3s ease-out;

}


/*-----------omask*/
.product__mask{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  //margin-left: -160px;
  //margin-top: 450px;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 100%;
  //height: 250px;
  background: #F3F3F3;
  overflow: hidden;

  border-radius: 5px;
  //border: 15px solid #F9F9F9;
  padding: 20px 20px;
}

.login_popup .mask {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -270px;
  width: 600px;
  height: 250px;
  background: white;
  overflow: hidden;
  border-radius: 5px;
  border: 15px solid #F9F9F9;
}

/*-----------close*/

.login_popup .mask i {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 20px;
  top: 10px;
  right: 10px;
  z-index: 999;
  color: #ccc;
}

.login_popup .mask i:hover {
  color: #fff;
}

.login_popup .mask i a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.login_popup h3 {
  color: #fff;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 15px;
}

/*-----------LOGIN*/

.login_popup .mask .login_table {
  position: absolute;
  width: 320px;
  height: 420px;
  top: 0px;
  left: 0px;
  padding: 20px;
}
.product_table{
  width: 100%;
  //height: 420px;
  padding: 20px;
}

.login_popup .mask .login_table a {
  color: #ccc;
  transition: 0.3s ease-out;
}

.login_popup .mask .login_table a:hover {
  color: #fff;
}

.login_popup .mask .login_table table,
.login_popup .mask .social_table table {
  width: 100%;
}

.login_popup .mask .login_table table td {
  width: 100%;
  text-align: center;
}

.login_popup .mask .login_table tr:nth-child(4) td {
  padding-top: 60px;
}

/*-----------social table*/

//.login_popup .mask .social_table {
//  position: absolute;
//  width: 320px;
//  height: 420px;
//  top: 0px;
//  left: 350px;
//  padding: 20px;
//}

.login_popup .mask .social_table a {
  color: #ccc;
  transition: 0.3s ease-out;
}

.login_popup .mask .social_table a:hover {
  color: #fff;
}



/*-----------obuttom style*/

.btn-ok {
  width: 80%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: block;
  margin: 0px auto 15px !important;
  padding: 0px;
  text-align: center;
  border: 1px solid #ccc !important;
  float: none;
  color: #666 !important;
}

.btn-ok:hover {
  border: 1px solid #ccc !important;
  color: #fff !important;
}

.social_table{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_btn{
  position: relative;
  font-size: 12px;
  color: dimgray;
  padding: 10px 20px;
  border-radius: 5px;
  &:hover{
    color: #3a73b7!important;
    text-decoration: none;
  }
}

.product__body{
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
}
.product__body-item{
  width: 100%;
  //background-color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.product__desc-text{
  color: black;
  font-size: 14px;
}
.product{
  &__share-btn{
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 20px;
    &-twit{
      color: #00aced;
      border: 1px solid #00aced;
      transition: .5s;
      &:hover{
        color: white;
        background-color: #00aced;
      }
    }
    &-fb{
      color: #3b5998;
      border: 1px solid #3b5998;
      transition: .5s;
      &:hover{
        color: white;
        background-color: #3b5998;
      }
    }
  }
}
