.post {
  &__header {
    width: 100%;
    background-color: #163B47;
    height: 370px;
    padding-top: 60px;

    &-title {
      font-size: 50px;
      color: white;
      width: 60%;
      font-weight: 600;
    }

    &-border {
      width: 60%;
      height: 2px;
      background: linear-gradient(90deg, #fff, #163d48);
      margin: 30px 0;
    }
  }

  &__body {
    width: 100%;
    background-color: #F3F3F3;
    padding-top: 30px;

    &-title {
      font-size: 20px;
      color: black;
      font-weight: 600;
    }

    &-form {
      width: 100%;
      padding: 20px;
      background-color: white;
      margin-top: 20px;
      border-radius: 5px;

      &-title {
        font-size: 13px;
        color: black;
        font-weight: 600;
        padding-bottom: 15px;
      }
    }

    &-input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #9E9E9E;
      outline: none;
    }

    &-textarea {
      width: 100%;
      resize: none;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #9E9E9E;
      outline: none;
    }
  }

  &__section {
    width: 100%;
    padding: 15px 10px 20px 10px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


    &-item {
      width: 28%;
      height: 120px;
      text-align: center;
    }

    &-img {
      width: 100%;
      height: 80px;
      margin-bottom: 10px;
    }

    &-title {
      font-size: 16px;
      color: black;
      font-weight: 600;
    }
  }

  &__makers {
    &-list {

    }

    &-profile {
      width: 30px;
      height: 30px;
      border-radius: 50px;
    }

    &-list {
      list-style: none;
      padding-left: 0;
    }

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #9E9E9E;
    }
    &-name {
      font-size: 13px;
      font-weight: 600;
    }

    &-status {
      font-size: 11px;
      color: #6f6f6f;
        }

      }
    }

