.services{
  width: 100%;
  &__column{
    margin: 0;
    padding: 50px 0;

  }
  &__image{
    height: 340px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__body{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
