.sprite {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% !important;
  .pico();


  &__logo{
    width: 40px;
    height: 40px;
    background-image: url("../images/star.png");
    //background-size: 100%;
  }
  &__search{
    width: 20px;
    height: 20px;
    background-image: url("../images/search.png");
    //background-size: 100%;
  }
  &__vote{
    width: 20px;
    height: 20px;
    background-image: url("../images/vote.png");
    //background-size: 100%;
  }
  &__fb{
    width: 16px;
    height: 16px;
    background-image: url("../images/facebook.png");
    //background-size: 100%;
    //background-color: ;
  }
  &__google{
    width: 16px;
    height: 16px;
    background-image: url("../images/google.png");
    //background-size: 100%;
  }
  &__internet{
    width: 32px;
    height: 32px;
    background-image: url("../images/internet.png");
    //background-size: 100%;
  }
  &__next{
    width: 20px;
    height: 20px;
    background-image: url("../images/next.png");
    //background-size: 100%;
  }
  &__cancel{
    width: 15px;
    height: 15px;
    background-image: url("../images/cancel.svg");
    //background-size: 100%;
  }

  &__arrow-right{
    //width: 30px;
    //height: 5px;
    //background-image: url("../images/arrow-right.png");
    //background-size: 100%!important;
    .sprite(@arrow-right);
  }
  &__down{
    width: 15px;
    height: 15px;
    background-image: url("../images/down-arrow.png");
  }
  &__smile{
    width: 45px;
    height: 45px;
    background-image: url("../images/smile.png");
  }
  }


