.subscribe {
  width: 100%;
  margin-top: 30px;
  &__body {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
  }
  &-title{
    font-size: 16px;
  }
  &-btn{
    background-color: #cc4d29;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding: 8px 0;
    color: white;
    &:hover{
      background-color: #e4461b;
      color: white;
    }
  }
}

