.testimonials{
  width: 100%;
  text-align: center;
  padding: 100px 0;
  &__content{
    width: 100%;
    text-align: center;
  }
  &__item{
    width: 190px;
    height: 125px;
    //box-shadow: 0 5px 17px rgba(0,0,0,.15);
  }
  &__img{
    width: 100%;
    height: 100%;

  }
}
