.box {


  &--mb {
    margin-bottom: 100px;
  }

}


.user-headline:hover .sprite--group-user {
  background-position: -95px -10px;
}

.auto-headline:hover .sprite--group-avto {
  background-position: -180px -95px;
}

.health-headline:hover .sprite--group-health {
  background-position: -94px -95px;
}

.box-headline {
  padding-top: 72px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__item {

    display: block;
    position: relative;

    &.active {
      & > .box-headline__title {
        color: @color-blue;
      }

      & > .box-headline__icon-block {
        background: rgba(58, 115, 183, 16%);
      }
    }

    &:hover {
      text-decoration: none;

      & > .box-headline__title {
        color: @color-blue;
      }

      & > .box-headline__icon-block {
        background: rgba(58, 115, 183, 16%);
      }
    }


  }

  &__icon-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    width: 85px;
    height: 85px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  &__hr {
    position: absolute;
    z-index: -1;
    border-top: 1px dashed #88ABD4;
    width: 100%;
    top: 40%;
    left: 0;

    &-right {
      width: 50%;
      left: 50%;
    }

    &-left {
      width: 50%;
      left: 0;
    }
  }

  &__icon {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    cursor: pointer;
  }


  &__title {
    font-size: 16px;
    font-family: @regular;
    color: @color-gray;
    text-align: center;
    margin-bottom: 0;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: none;
    }
  }
}


.box-form {
  box-shadow: 1px 0 10px rgba(0, 0, 0, 10%);
  border-radius: 3px;
  padding: 40px 32px 32px 32px;

  &--pr {
    padding-right: 26px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 12px;
    font-family: @regular;
    color: #9C9C9C;
    margin-bottom: 10px;
  }

  &__submit {

    display: flex;
    justify-content: space-between;
    padding-top: 24px;

    & > input:not(:last-child) {
      margin-right: 55px;
    }


    &-item {
      height: 50px;
      color: @color-white;
      border-radius: 5px;
      font-size: 14px;
      font-family: @semibold;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      width: 100%;
    }
  }

  &__checkbox {
    margin-bottom: 10px;
  }

  &__car {
    padding: 16px;
    border: 1px solid @color-gray;
    border-radius: 5px;
    margin-bottom: 32px;
    margin-left: -3px !important;
    margin-right: -3px !important;

    &-content {
      font-size: 14px;
      font-family: @light;
      color: @color-black;
    }

    &-img {
      display: flex;
      align-items: center;

      & > label:not(:last-child) {
        margin-right: 16px;
      }
    }

    &-item {
      margin-bottom: 0;
      border: 1px solid @color-blue;
      border-radius: 5px;
      cursor: pointer;

      width: 67px;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;


      &:hover {
        border-color: @color-yellow;
      }
    }

  }
}

.w-254 {
  width: 254px;
}


.add-icon {
  width: 49px;
  height: 49px;
  background-color: @color-blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  cursor: pointer;

}

.addNewInput {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  & p {
    margin-bottom: 0;
    color: @color-blue;
    font-size: 14px;
    font-family: @regular;
    cursor: pointer;

  }
}
