body {
  font-family: @regular;
}

.h1-title {
  font-size: 32px;
  font-family: @semibold;
  color: @color-black;

  &--mb {
    margin-bottom: 56px;
  }
}

.bg-yellow {
  background-color: @color-yellow;
}

.bg-blue {
  background-color: @color-blue;
}

.bg-red {
  background-color: @color-red;
}

.bg-green {
  background-color: @color-green;
}

.mb-16 {
  margin-bottom: 16px;
}
