.group {
  position: relative;

  &--mb {
    margin-bottom: 32px;
  }

  &--mb-sm {
    margin-bottom: 10px;
  }

  &--mb-md {
    margin-bottom: 56px;
  }

  &__input {
    border: 1px solid @color-gray-light;
    border-radius: 5px;
    height: 50px;
    //width: 404px;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    font-family: @regular;
    outline: none;

    &.active {
      border: 1px solid @color-blue;
    }

    &::placeholder {
      color: @color-gray;
    }

    &:focus {
      border: 1px solid @color-blue;
    }
  }

  &__textarea {
    height: 130px;
    margin-bottom: 56px;
    margin-top: 10px;
  }

  &__label {
    color: @color-gray;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    z-index: 10;
    &.active {
      top: 0;
      font-size: 10px;
      color: @color-blue;
      background: white;
      padding-left: 8px;
      padding-right: 8px;
    }
  }


  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    line-height: 0;
    margin-bottom: 0;
  }

  &__icon2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    margin-bottom: 0;
    right: 44px;
  }


  &__number[type=number]::-webkit-inner-spin-button,
  &__number[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}


.form-link {

  color: @color-blue-light;
  font-size: 12px;
  font-family: @regular;

  &--semibold {
    font-family: @semibold;
  }

  &--mb {
    margin-bottom: 56px;
  }
}

.form-submit {
  text-align: center;
  width: 100%;
  background-color: @color-blue;
  border-radius: 5px;
  color: @color-white;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid @color-blue;
  font-family: @semibold;
  box-shadow: 1px 2px 10px rgba(58, 115, 183, 0.37);
  transition: all 0.5s ease;

  &--mb {
    margin-bottom: 16px;
  }

  &:hover {
    color: @color-blue;
    background-color: @color-white;
  }
}

.form-lead {
  font-size: 12px;
  font-family: @regular;
  color: @color-black;
}

////////////////// checkbox

.group-checkbox {
  &--notaccept {
    display: inline-flex;
  }

  &--mb {
    margin-bottom: 32px;
  }

  &--login {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 22px;
  }

  &__item[type="checkbox"] {

    &__item[type="radio"], &__item[type="checkbox"] {
      height: 12px;
      width: 12px;
      vertical-align: middle;
      margin: 0 7px 0 0;
      background: @color-white;
      border: 1px solid @color-blue;
      border-radius: 3px;
      -webkit-appearance: none;
      outline: none;
    }

    &__item[type="radio"], &__item[type="checkbox"] {
      border-radius: 3px;
      outline: none;
    }

    &__item[type="radio"]:not(:disabled):hover, &__item[type="checkbox"]:not(:disabled):hover {
      border: 1px solid @color-blue;
      outline: none;
    }


    &__item[type="radio"]:active:not(:disabled), &__item[type="checkbox"]:active:not(:disabled) {
      border: 1px solid @color-blue;
      outline: none;
    }

    &__item[type="radio"]:checked, &__item[type="checkbox"]:checked {
      border: 1px solid @color-blue;
      outline: none;
    }

    &__item[type="radio"]:checked:not(:disabled), &__item[type="checkbox"]:checked:not(:disabled) {
      color: @color-blue;
      outline: none;
    }

    &__item[type="radio"]:checked:before, &__item[type="checkbox"]:checked:before {
      font-weight: 700;
      color: #3a73b7;
      content: '\2713';
      display: block;
      font-size: 11px;
      outline: 0;
      margin-top: -3px;
    }

    &__item[type="radio"]:disabled:checked:before, &__item[type="checkbox"]:disabled:checked:before {
      display: block;
      height: 8px;
      width: 8px;
      position: relative;
      background: @color-white;
      border-radius: 100%;
      content: '';
      outline: none;
    }

    &__label {
      font-size: 14px;
      font-family: @regular;
      color: @color-black;
      margin-bottom: 0;
    }

  }


  .mr-40 {
    margin-right: 40px;
  }
}
