
.main-content {
  height: 800px;
  width: 1000px;
  margin: 0 auto;
}

.overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: #000; /* fallback */
  background: rgba(0, 0, 0, 0.75);
}

.overlay-content {
  display: none;
  background: @color-white;
  //padding: 1%;
  width: 40%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  //margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  z-index: 10001;
  // border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/*.close-btn {
  cursor: pointer;
  border: 1px solid #333;
  padding: 2% 5%;
  background: #a9e7f9; !* fallback *!
  background: -moz-linear-gradient(top, #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e7f9), color-stop(4%, #77d3ef), color-stop(100%, #05abe0));
  background: -webkit-linear-gradient(top, #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
  background: -o-linear-gradient(top, #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
  background: -ms-linear-gradient(top, #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
  background: linear-gradient(to bottom, #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.close-btn:hover {
  background: #05abe0;
}*/

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px) {

  .overlay-content {
    width: 96%;
    margin: 0 2%;
    left: 0;
  }
}

.popup1 {
  padding: 32px 54px 61px 26px;

  & p {
    font-size: 18px;
    font-family: @semibold;
    color: #CF5151;
    margin-bottom: 24px;
    text-align: center;
  }

  & .select2 {
    width: 100% !important;
  }
  &__submit {
    width: 313px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: @color-white;
    border-radius: 5px;
    background-color: @color-red;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  &__icon {
    position: absolute;
    top: -16px;
    right: -28px;
    cursor: pointer
  }

}

.popup2 {
  width: 400px;
  height: 150px;
  border-radius: 5px;
  padding-top: 32px;
  background-color: @color-white;


  & p {
    font-size: 16px;
    font-family: @regular;
    text-align: center;
  }


}


.overflow-hidden {
  overflow: hidden;
}


