.sign {

  display: flex;


  &__login {
    display: flex;
    //justify-content: center;
    align-items: center;
    width: 50%;
    //display: flex;
    flex-direction: column;
    justify-content: space-between;
    //width: 100%;
    height: 100vh;

    &-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &__content {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //width: 100%;
    //height: 100vh;
  }

  &__right {
    width: 50%;
    //height: 100vh;
    position: relative;
    background-color: red;
    height: 100vh;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(58, 115, 183, 0.92);
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.sign-form {

  width: 52%;

  &--mb {
    // margin-bottom: 153px;
  }
}


.support {
  text-align: center;
  width: 100%;

  &--mb {
    margin-bottom: 36px;
  }

  & > a:not(:last-child) {
    margin-right: 40px;
  }

  &__item {
    font-size: 12px;
    font-family: @regular;
    color: #BABABA;
    border-bottom: 1px solid #BABABA;
    margin-bottom: 3px;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #0056B3;
    }
  }
}
