.gallery {

  &__image {
    height: 400px;
    width: 100%;
    border-radius: 5px;
  }

  &__item {
    position: relative;
  }

  &__content {
    position: absolute;
    font-size: 14px;
    color: @color-white;
    font-family: @regular;

    //background: red;
    width: 100%;
    bottom: 0;
    height: 30%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    padding-left: 24px;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 100%,);
  }
}


.lSPrev, .lSNext {
  opacity: 1 !important;
  top: auto !important;
  bottom: 15px !important;

}

.lSNext {

  right: 24px !important;
}

.lSPrev {
  left: auto !important;
  right: 68px !important;
}

.lSGallery li {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
  }
}

.lSGallery li.active{


  &:before {
    background-color: rgba(255, 255, 255, 0);
  }
}
